:root {
	font-family: sans-serif;
	line-height: 1.5;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

body {
	margin: 0;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
}
